apparmor==3.0.1
appdirs==1.4.4
application-utility==1.3.2
asn1crypto==1.4.0
Babel==2.9.0
bcrypt==3.2.0
btrfsutil==5.10.1
CacheControl==0.12.6
catfish==4.16.0
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.14.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==3.3.1
distlib==0.3.1
distro==1.5.0
docopt==0.6.2
Flask==1.1.2
Flask-Babel==2.0.0
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-MySQLdb==0.2.0
Flask-Table==0.5.0
gufw==21.4.0
gunicorn==20.0.4
html5lib==1.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
keyutils==0.6
lensfun==0.3.95
LibAppArmor==3.0.1
lightdm-gtk-greeter-settings==1.2.2
louis==3.16.0
MarkupSafe==1.1.1
menulibre==2.2.1
msgpack==1.0.2
mugshot==0.4.3
mysqlclient==2.0.3
netsnmp-python==1.0a1
npyscreen==4.10.5
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.19.1
pep517==0.9.1
pexpect==4.8.0
Pillow==8.1.0
pipreqs==0.4.10
ply==3.11
progress==1.5
psutil==5.8.0
ptyprocess==0.7.0
pycairo==1.20.0
pycparser==2.20
PyGObject==3.38.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pysmbc==1.0.23
python-distutils-extra==2.39
pytz==2021.1
pyxdg==0.26
PyYAML==5.3.1
rados==2.0.0
rbd==2.0.0
reportlab==3.5.60
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
rgw==2.0.0
six==1.15.0
team==1.0
toml==0.10.2
udiskie==2.3.2
ufw==0.36
urllib3==1.26.3
webencodings==0.5.1
Werkzeug==1.0.1
yarg==0.1.9
