/*body {
    background-color:#E7E1E3;
    font-family: 'DM Sans', sans-serif;
}

.container-fluid {
    background-color:#E7E1E3;
    padding-left: 5%;
}

.container-fluid.subtitle {
    font:bold;
    width: 100%;
    font-size:x-large;
}

.col-sm-4 {
    background-color:#C7AFBD;
}
th {
    font: bold;
    background-color: rgb(195, 210, 224);
}


table, th, td
{   
    background-color: #E7E1E3;
    width:100%;
    padding: 5px;
}


table tbody, table thead
{
    width:90%;
    overflow:auto;
}

table thead
{
    display:table-header-group;
}

table tbody 
{
   overflow: auto;

}

.tasks-and-rewards
{
    height: 50%;
}

td
{
    width:90%;
}

.col-lg-12
{
    width:100%;
    background-color:#C7AFBD;
    padding: 30px;
}

.row
{
    /*display:flex;
    width:100%;
}

.textarea
{
    display:flex;
    width:100%;
}

.title
{
    background-color: #C7AFBD;
}

.form
{
    display:block;
    max-width: 100%;
}
*/

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 5px 30px 5px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }

    .col-lg-2 {
        background-color:white;
        display:flex;
    }

    .col-sm-3 {
        background-color:white;
        display:flex;
    }


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
 }

@media (min-width: 300px) {

    body {
        background-color:#E7E1E3;
        font-family: 'DM Sans', sans-serif;
    }
    
    .container-fluid {
        background-color:l#E7E1E3;
        padding-left: 5%;
        width: 100%;
    }

    .container-fluid.subtitle {
        font:bold;
        width: 100%;
        font-size:x-large;
    }

    /*.container-fluid.tables {
        display: block;
        width: 100%;

    }*/

    .row
    {
        dislay: flex;
        flex-wrap: wrap;
        width: 100%;
        overflow: scroll;
    }

    .if-none {
        display:flex;
        flex-wrap: wrap;
    }
    
    th {
        font: bold;
        background-color: rgb(195, 210, 224);
    }
    
    
    table, th, td
    {   
        background-color: #E7E1E3;
        width:100%;
        padding: 5px;
        overflow-x:auto;
    }
    
    
    table tbody, table thead
    {
        width:90%;
        overflow:auto;
    }
    
    table thead
    {
        display:table-header-group;
    }
    
    table tbody 
    {
       overflow: auto;
    
    }
    td
    {
        width:auto;
    }


    .col-sm-12
    {
        background-color:#C7AFBD;
    }

    .menubar
    {
        background-color: #C7AFBD;
        font-size: xx-large;
        text-align: right;
    }

    
    .title
    {
        background-color: #C7AFBD;
    }
    
    .menu
    {
        width: 50px;
    }
    
    .toptitle
    {
        margin-left: 70px;
        top: 0;
    }
    textarea#invitelink
    {
        width: 50%;
    }
}

@media (min-width: 576px) {

    body {
        background-color:#E7E1E3;
        font-family: 'DM Sans', sans-serif;
    }
    
    .container-fluid {
        background-color:l#E7E1E3;
        padding-left: 5%;
        width: 100%;
    }

    .container-fluid.subtitle {
        font:bold;
        width: 100%;
        font-size:x-large;
    }

    /*.container-fluid.tables {
        display: block;
        width: 100%;

    }*/

    .row
    {
        dislay: flex;
        flex-wrap: wrap;
        width: 100%;
        overflow: scroll;
    }

    .col-12 {

        display:flex;
        flex-wrap: wrap;
        width:100%;
        background-color:#C7AFBD;
        /* padding: 30px;*/

    }
    
    th {
        font: bold;
        background-color: rgb(195, 210, 224);
    }
    
    
    table, th, td
    {   
        background-color: #E7E1E3;
        width:100%;
        padding: 5px;
        overflow-x:auto;
    }
    
    
    table tbody, table thead
    {
        width:90%;
        overflow:auto;
    }
    
    table thead
    {
        display:table-header-group;
    }
    
    table tbody 
    {
       overflow: auto;
    
    }
    td
    {
        width:auto;
    }


    .col-sm-12
    {
        background-color:#C7AFBD;
    }
    

    
    .title
    {
        background-color: #C7AFBD;
    }
    
}




@media (min-width: 768px) {

    body {
        background-color:#E7E1E3;
        font-family: 'DM Sans', sans-serif;
    }
    
    .container-fluid {
        background-color:l#E7E1E3;
        padding-left: 5%;
        width: 100%;
    }

    .container-fluid.subtitle {
        font:bold;
        width: 100%;
        font-size:x-large;
    }

    /*.container-fluid.tables {
        display: block;
        width: 100%;

    }*/

    .row
    {
        dislay: flex;
        flex-wrap: wrap;
        width: 100%;
        overflow: scroll;
    }

    
    th {
        font: bold;
        background-color: rgb(195, 210, 224);
    }
    
    
    table, th, td
    {   
        background-color: #E7E1E3;
        width:100%;
        padding: 5px;
        overflow-x:auto;
    }
    
    
    table tbody, table thead
    {
        width:90%;
        overflow:auto;
    }
    
    table thead
    {
        display:table-header-group;
    }
    
    table tbody 
    {
       overflow: auto;
    
    }
    td
    {
        width:auto;
    }


    .col-sm-12
    {
        background-color:#C7AFBD;
    }
    

    
    .title
    {
        background-color: #C7AFBD;
    }
    
}


@media (min-width: 992px) {

    body {
        font-family: 'DM Sans', sans-serif;
    }

    .container {
        display:flex;
        flex-wrap: nowrap;
    }

    .container-fluid {
        background-color:#E7E1E3;
        width:100%;
    }
    
    .container-fluid.subtitle {
        font:bold;
        width: 100%;
        font-size:x-large;
    }
    
    th {
        font: bold;
        background-color: rgb(195, 210, 224);
    }
    
    
    table, th, td
    {   
        background-color: #E7E1E3;
        width:100%;
        padding: 5px;
    }
    
    
    table tbody, table thead
    {
        width:90%;
        overflow:auto;
    }
    
    table thead
    {
        display:table-header-group;
    }
    
    table tbody 
    {
       overflow: auto;
    
    }
    
    .tasks-and-rewards
    {
        height: 50%;
    }
    
    td
    {
        width:90%;
    }
    
    .col-lg-6
    {
        /*height: 100%;*/
        background-color:#C7AFBD;
        width: 90%;
    }
    
    .row
    {
        background-color: #C7AFBD;
        width:90%;
        margin:12px;
        overflow: hidden;
    }
    
    .textarea
    {
        display:flex;
        width:100%;
    }
    
    .title
    {
        background-color: #C7AFBD;
    }
    
    .form
    {
        display:block;
        max-width: 100%;
    }
    
}

@media (min-width:1200px) {

    body {
        font-family: 'DM Sans', sans-serif;
    }

    .container {
        /* display:flex;
        flex-wrap: nowrap; */
    }

    .container.options {

        background-color:none;

    }
    
    .container-fluid {
        background-color:#E7E1E3;

    }
    
    .container-fluid.subtitle {
        font:bold;
        width: 100%;
        font-size:x-large;
    }

    .row
    {
        margin-right: 0px;
        display:block;
        background-color:C7AFBD;
        overflow: hidden;
    }
    
    th {
        font: bold;
        background-color: rgb(195, 210, 224);
    }
    
    
    table, th, td
    {   
        background-color: #E7E1E3;
        width:100%;
        padding: 5px;
    }
    
    
    table tbody, table thead
    {
        overflow:auto;
    }
    
    table thead
    {
        display:table-header-group;
    }
    
    table tbody 
    {
       overflow: auto;
    
    }
    
    .tasks-and-rewards
    {
        height: 50%;
    }
    
    td
    {
        width:90%;
    }
    
    .col-lg-6
    {
        /*height: 100%;*/
        background-color:#C7AFBD;
    }
    
    .row.options {

        background-color:none;

    }
    
    .textarea
    {
        display:flex;
        width:100%;
    }
    
    .title
    {
        background-color: #C7AFBD;
    }
    
    .form
    {
        display:block;
        max-width: 100%;
    }
}

