/*body {
    background-color:#E7E1E3;
    font-family: 'DM Sans', sans-serif;
}

.container-fluid {
    background-color:#E7E1E3;
    padding-left: 5%;
}

.container-fluid.subtitle {
    font:bold;
    width: 100%;
    font-size:x-large;
}

.col-sm-4 {
    background-color:#C7AFBD;
}
th {
    font: bold;
    background-color: rgb(195, 210, 224);
}


table, th, td
{   
    background-color: #E7E1E3;
    width:100%;
    padding: 5px;
}


table tbody, table thead
{
    width:90%;
    overflow:auto;
}

table thead
{
    display:table-header-group;
}

table tbody 
{
   overflow: auto;

}

.tasks-and-rewards
{
    height: 50%;
}

td
{
    width:90%;
}

.col-lg-12
{
    width:100%;
    background-color:#C7AFBD;
    padding: 30px;
}

.row
{
    /*display:flex;
    width:100%;
}

.textarea
{
    display:flex;
    width:100%;
}

.title
{
    background-color: #C7AFBD;
}

.form
{
    display:block;
    max-width: 100%;
}
*/

@media (min-width: 300px) {

    body {
        background-color:#E7E1E3;
        font-family: 'DM Sans', sans-serif;
    }
    
    .container-fluid {
        background-color:l#E7E1E3;
        padding-left: 5%;
        width: 100%;
    }

    .container-fluid.subtitle {
        font:bold;
        width: 100%;
        font-size:x-large;
    }

    /*.container-fluid.tables {
        display: block;
        width: 100%;

    }*/

    .row
    {
        dislay: flex;
        flex-wrap: wrap;
        width: 100%;
        overflow: scroll;
    }

    .col-12 {

        display:flex;
        flex-wrap: wrap;
        width:100%;
        background-color:#C7AFBD;
        /* padding: 30px;*/

    }

    .if-none {
        display:flex;
        flex-wrap: wrap;
    }
    
    th {
        font: bold;
        background-color: rgb(195, 210, 224);
    }
    
    
    table, th, td
    {   
        background-color: #E7E1E3;
        width:100%;
        padding: 5px;
        overflow-x:auto;
    }
    
    
    table tbody, table thead
    {
        width:90%;
        overflow:auto;
    }
    
    table thead
    {
        display:table-header-group;
    }
    
    table tbody 
    {
       overflow: auto;
    
    }
    td
    {
        width:auto;
    }


    .col-sm-12
    {
        background-color:#C7AFBD;
    }
    

    
    .title
    {
        background-color: #C7AFBD;
    }
    
}

@media (min-width: 576px) {

    body {
        background-color:#E7E1E3;
        font-family: 'DM Sans', sans-serif;
    }
    
    .container-fluid {
        background-color:l#E7E1E3;
        padding-left: 5%;
        width: 100%;
    }

    .container-fluid.subtitle {
        font:bold;
        width: 100%;
        font-size:x-large;
    }

    /*.container-fluid.tables {
        display: block;
        width: 100%;

    }*/

    .row
    {
        dislay: flex;
        flex-wrap: wrap;
        width: 100%;
        overflow: scroll;
    }

    .col-12 {

        display:flex;
        flex-wrap: wrap;
        width:100%;
        background-color:#C7AFBD;
        /* padding: 30px;*/

    }
    
    th {
        font: bold;
        background-color: rgb(195, 210, 224);
    }
    
    
    table, th, td
    {   
        background-color: #E7E1E3;
        width:100%;
        padding: 5px;
        overflow-x:auto;
    }
    
    
    table tbody, table thead
    {
        width:90%;
        overflow:auto;
    }
    
    table thead
    {
        display:table-header-group;
    }
    
    table tbody 
    {
       overflow: auto;
    
    }
    td
    {
        width:auto;
    }


    .col-sm-12
    {
        background-color:#C7AFBD;
    }
    

    
    .title
    {
        background-color: #C7AFBD;
    }
    
}




@media (min-width: 768px) {

    body {
        background-color:#E7E1E3;
        font-family: 'DM Sans', sans-serif;
    }
    
    .container-fluid {
        background-color:l#E7E1E3;
        padding-left: 5%;
        width: 100%;
    }

    .container-fluid.subtitle {
        font:bold;
        width: 100%;
        font-size:x-large;
    }

    /*.container-fluid.tables {
        display: block;
        width: 100%;

    }*/

    .row
    {
        dislay: flex;
        flex-wrap: wrap;
        width: 100%;
        overflow: scroll;
    }

    
    th {
        font: bold;
        background-color: rgb(195, 210, 224);
    }
    
    
    table, th, td
    {   
        background-color: #E7E1E3;
        width:100%;
        padding: 5px;
        overflow-x:auto;
    }
    
    
    table tbody, table thead
    {
        width:90%;
        overflow:auto;
    }
    
    table thead
    {
        display:table-header-group;
    }
    
    table tbody 
    {
       overflow: auto;
    
    }
    td
    {
        width:auto;
    }


    .col-sm-12
    {
        background-color:#C7AFBD;
    }
    

    
    .title
    {
        background-color: #C7AFBD;
    }
    
}


@media (min-width: 992px) {

    body {
        font-family: 'DM Sans', sans-serif;
    }
    
    .container {
        display:flex;
        flex-wrap: nowrap;
    }

    .container-fluid {
        background-color:#E7E1E3;
        width:100%;
    }
    
    .container-fluid.subtitle {
        font:bold;
        width: 100%;
        font-size:x-large;
    }
    
    th {
        font: bold;
        background-color: rgb(195, 210, 224);
    }
    
    
    table, th, td
    {   
        background-color: #E7E1E3;
        width:100%;
        padding: 5px;
    }
    
    
    table tbody, table thead
    {
        width:90%;
        overflow:auto;
    }
    
    table thead
    {
        display:table-header-group;
    }
    
    table tbody 
    {
       overflow: auto;
    
    }
    
    .tasks-and-rewards
    {
        height: 50%;
    }
    
    td
    {
        width:90%;
    }
    
    .col-lg-6
    {
        /*height: 100%;*/
        background-color:#C7AFBD;
        width: 90%;
    }
    
    .row
    {
        background-color: #C7AFBD;
        width:90%;
        margin:12px;
        overflow: hidden;
    }
    
    .textarea
    {
        display:flex;
        width:100%;
    }
    
    .title
    {
        background-color: #C7AFBD;
    }
    
    .form
    {
        display:block;
        max-width: 100%;
    }
    
}

@media (min-width:1200px) {

    body {
        font-family: 'DM Sans', sans-serif;
    }

    .container {
        display:flex;
        flex-wrap: nowrap;
    }

    .container.options {

        background-color:none;

    }
    
    .container-fluid {
        background-color:#E7E1E3;

    }
    
    .container-fluid.subtitle {
        font:bold;
        width: 100%;
        font-size:x-large;
    }

    .row
    {
        margin-right: 0px;
        display:block;
        background-color:C7AFBD;
        overflow: hidden;
    }
    
    th {
        font: bold;
        background-color: rgb(195, 210, 224);
    }
    
    
    table, th, td
    {   
        background-color: #E7E1E3;
        width:100%;
        padding: 5px;
    }
    
    
    table tbody, table thead
    {
        overflow:auto;
    }
    
    table thead
    {
        display:table-header-group;
    }
    
    table tbody 
    {
       overflow: auto;
    
    }
    
    .tasks-and-rewards
    {
        height: 50%;
    }
    
    td
    {
        width:90%;
    }
    
    .col-lg-6
    {
        /*height: 100%;*/
        background-color:#C7AFBD;
    }
    
    .row.options {

        background-color:none;

    }
    
    .textarea
    {
        display:flex;
        width:100%;
    }
    
    .title
    {
        background-color: #C7AFBD;
    }
    
    .form
    {
        display:block;
        max-width: 100%;
    }
}

