body {
    background-color:#E7E1E3;
    font-family: 'DM Sans', sans-serif;
}

.container-fluid {
    background-color:l#E7E1E3;
    padding-left: 5%;
}

.container-fluid.subtitle {
    font:bold;
    width: 100%;
    font-size:x-large;
    color: red;
}

th {
    font: bold;
    background-color: rgb(195, 210, 224);
}


table, th, td
{   
    background-color: #E7E1E3;
    width:100%;
    padding: 5px;
}


table tbody, table thead
{
    width:90%;
    overflow:auto;
}

table thead
{
    display:table-header-group;
}

table tbody 
{
   overflow: auto;

}

.tasks-and-rewards
{
    height: 50%;
}

td
{
    width:90%;
}

.col-sm-4
{
    background-color:#C7AFBD;
    padding: 30px;
}

.row
{
    display:flex;
    width:100%;
}

.textarea
{
    display:flex;
    width:100%;
}

.title
{
    background-color: #C7AFBD;
}

.form
{
    display:block;
    max-width: 100%;
}

@media (max-width: 576px) {
    body {
        background-color:#E7E1E3;
        font-family: 'DM Sans', sans-serif;
    }
    
    .container-fluid {
        background-color:l#E7E1E3;
        padding-left: 5%;
    }

    .container-fluid.subtitle {
        font:bold;
        width: 100%;
        font-size:x-large;
        color: red;
    }

    .container-fluid.tables {
        display: block;
        width: auto;

    }
    
    th {
        font: bold;
        background-color: rgb(195, 210, 224);
    }
    
    
    table, th, td
    {   
        background-color: #E7E1E3;
        width:100%;
        padding: 5px;
        overflow-x:auto;
    }
    
    
    table tbody, table thead
    {
        width:90%;
        overflow:auto;
    }
    
    table thead
    {
        display:table-header-group;
    }
    
    table tbody 
    {
       overflow: auto;
    
    }
    
    .tasks-and-rewards
    {
        height: 50%;
    }
    
    td
    {
        width:90%;
    }
    
    .col-sm-4
    {
        background-color:#C7AFBD;
        padding: 30px;
        display:flex;
        width: auto;
    }
    
    .row
    {
        display:block;
        width: auto;
    }
    
    .title
    {
        background-color: #C7AFBD;
    }
    
}

@media (max-width: 768px) {
    body {
        background-color:#E7E1E3;
        font-family: 'DM Sans', sans-serif;
    }
    
    .container-fluid {
        background-color:l#E7E1E3;
        padding-left: 5%;
    }

    .container-fluid.subtitle {
        font:bold;
        width: 100%;
        font-size:x-large;
        color: red;
    }

    .container-fluid.tables {
        display: flex;
        width: auto;

    }
    
    th {
        font: bold;
        background-color: rgb(195, 210, 224);
    }
    
    
    table, th, td
    {   
        background-color: #E7E1E3;
        width:100%;
        padding: 5px;
        overflow-x:auto;
    }
    
    
    table tbody, table thead
    {
        width:90%;
        overflow:auto;
    }
    
    table thead
    {
        display:table-header-group;
    }
    
    table tbody 
    {
       overflow: auto;
    
    }
    
    .tasks-and-rewards
    {
        height: 50%;
    }
    
    td
    {
        width:90%;
    }
    
    .col-sm-4
    {
        background-color:#C7AFBD;
        padding: 30px;
        display:flex;
        width: auto;
    }
    
    .row
    {
        dislay: flex;
        width: auto;
        overflow: scroll;
    }
    
    .title
    {
        background-color: #C7AFBD;
    }
    
}