<html>
  <head>
    <title>chorepoint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1> hello, {{ displayName }}! welcome to {{ home }}.</h1>
      <br>
      <div class="container">
      <h2>your home dashboard</h2>
      <br>
      <div class="row">
        
        <div class="col-sm">
      <h2>tasks pending approval</h2>

      {% if pendingTasks == [] %}
      no pending tasks
      {% else %}
        <table>
          <tr>
            <th>task name</th>
            <th>points</th>
            <th>user</th>
            <th>frequency</hd>
            <th> </th> 
            <th> </th> 
          </tr>

          {% for task in pendingTasks %}
          <tr>
            <td>{{task.taskName}}</td>
            <td>{{task.points}}</td>
            <td>{{task.assignedUsername}}</td>
            {% if task.frequency == '1' %}
              <td>every day</td>
            {% else %}
              <td>every {{task.frequency}} days</td> 
            {% endif %}
            <td><a href = "admin/approveTask/{{task.taskID}}">approve</a></td>
            <td><a href = "admin/denyTask/{{task.taskID}}">deny</a></td>
          </tr>
          {% endfor %}
        </table>
      {% endif %}
      <br>
      <h2>all active tasks</h2>
      {% if allTasks == [] %}
      no tasks
      {% else %}
          <table>
            <tr>
              <th>task name</th>
              <th>points</th>
              <th>user</th>
              <th>frequency</th>
              <th>due date</th>
              <th> </th>

            </tr>

            {% for task in allTasks %}
            <tr>
              <td>{{task.taskName}}</td>
              <td>{{task.points}}</td>
              <td>{{task.assignedUsername}}</td>
              {% if task.frequency == '1' %}
                <td>every day</td>
              {% else %}
                <td>every {{task.frequency}} days</td> 
              {% endif %}
              <td>{{task.dueDate}}</td>
              <td><a href="admin/deleteTask/{{task.taskID}}">delete</a></td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}
      <br>
      <a href="admin/newtask">new task</a>
      </div>
      <div class="col-sm">
        <h2>rewards pending approval</h2>
        {% if pendingRewards == [] %}
        no pending rewards
        {% else %}
          <table>
            <tr>
              <th>reward name</th>
              <th>points</th>
              <th> </th>
              <th> </th>
            </tr>
            {% for reward in pendingRewards %}
            <tr>
              <td>{{reward.rewardName}}</td>
              <td>{{reward.points}}</td>
              <td><a href="admin/approveReward/{{reward.rewardID}}">approve</a></td>
              <td><a href = "admin/denyReward/{{reward.rewardID}}">deny</a></td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}
        <br>
        <h2>all active rewards</h2>
        {% if allRewards == [] %}
        no rewards
        {% else %}
          <table>
            <tr>
              <th>reward name</th>
              <th>points</th>
              <th> </th>
            </tr>
            {% for reward in allRewards %}
            <tr>
              <td>{{reward.rewardName}}</td>
              <td>{{reward.points}}</td>
              <td><a href="admin/deleteReward/{{reward.rewardID}}">delete</a></td>
            {% endfor %}
          </tr>
          </table>
          {% endif %}
        <br>
        <a href="admin/newreward">new reward</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <h2>all users</h2>
        <br>
        <table>
          <tr>
            <th>username</th>
            <th>points</th>
            <th>is admin?</th>
            <th>approval required?</hd>
          </tr>
          {% for user in allUsers %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.points }}</td>
            <td>{{ user.admin }}</td>
            <td>{{ user.approvalRequired }}</td>
          </tr>
          {% endfor %}
        </table>
        </div>
      </div>
    <br>
      </div>
  <div class="container">
      <h2><a href="self">do your own tasks</a></h2>
   </div>
  </div>
  </body>
</html>
