<html>
  <head>
    <title>chorepoint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" media="screen">
  </head>
  <body>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      </script>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> <a href="admin">home dashboard</a> |  <a href="self">my tasks and rewards</a> | <a href="about">about chorepoint</a> | <a href="logout">logout</a>
</div>
<div class="menubar">
    
            <img src="{{url_for('static', filename='hamburger.png')}}" style="vertical-align:middle" align="left" onclick="openNav()">
            <img src="{{url_for('static', filename='chorepointlogosmall.png')}}">
</div>
    <br>

<div class="mainpage">
  <br>
  <br>
  <br>
  <div class="container options">
    <div class="row options">
        <div class="col-lg-6 col-sm-6">
  <h1>hello, {{ displayName }}! welcome to your home dashboard!</h1>
  </div>
    </div>
  </div>
  <br>

    <div class="container users">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <h2>people in {{ home }}</h2>
          <table>
            <tr>
              <th>name</th>
              <th>points</th>
              <th>administer</th>
            </tr>
            {% for user in allUsers %}
            <tr>
              <td>{{ user.displayName }}
                {% if user.admin == 1 %}
                <img src="{{url_for('static', filename='crown.png')}}">
                {% endif %}
              </td>
              <td>{{ user.points }}</td>
              {% if user.userID == adminUser.userID %}
                <td><a href="self">dashboard</a></td>
              {% elif user.approvalRequired == 0 %}
                <td> </td>
              {% else %}
                <td><a href="admin/{{user.userID}}">dashboard</a></td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
          <br>
          <h4><a href="{{ url_for('adminInvite') }}">invite</a> someone new to your home!</h4>
        </div> 
        <br>
      </div>
    </div>
 


  <div class="container tasks">     
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <h2>tasks pending approval</h2>
          <br>
          {% if pendingTasks == [] %}
          <div class="table-responsive">
          no pending tasks
          </div>
          {% else %}
          <div class="table-responsive">
            <table>
              <thead>
              <tr>
                <th>task name</th>
                <th>points</th>
                <th>user</th>
                <th>frequency</hd>
                <th> </th> 
                <th> </th> 
              </tr>
              </thead>
              <tbody>
              {% for task in pendingTasks %}
              <tr>
                <td>{{task.taskName}}</td>
                <td>{{task.points}}</td>
                <td>{{task.assignedUsername}}</td>
                {% if task.frequency == '1' %}
                  <td>every day</td>
                {% else %}
                  <td>every {{task.frequency}} days</td> 
                {% endif %}
                <td><a href = "admin/approveTask/{{task.taskID}}">approve</a></td>
                <td><a href = "admin/denyTask/{{task.taskID}}">deny</a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
          {% endif %}
          </div>
          <div class="col-lg-6 col-sm-12">
            <h2>all active tasks</h2>
        {% if allTasks == [] %}
        <div class="table-responsive">
        no tasks
        </div>
        {% else %}
        <div class="table-responsive">
            <table>
              <tr>
                <th>task name</th>
                <th>points</th>
                <th>user</th>
                <th>frequency</th>
                <th>due date</th>
                <th> </th>

              </tr>

              {% for task in allTasks %}
              <tr>
                <td>{{task.taskName}}</td>
                <td>{{task.points}}</td>
                <td>{{task.assignedUsername}}</td>
                {% if task.frequency == '1' %}
                  <td>every day</td>
                {% elif task.frequency == '0' %}
                  <td>none</td>
                {% else %}
                  <td>every {{task.frequency}} days</td> 
                {% endif %}

                {% if task.dueDate.strftime('%Y-%m-%d') == '3000-01-01' %}
                  <td>permanent</td>
                {% else %}
                    <td>{{task.dueDate}}</td>
                {% endif %}

                <td><a href="admin/deleteTask/{{task.taskID}}">delete</a></td>
              </tr>
              {% endfor %}
            </table>
            </div>
          {% endif %}
          <br>
          
      </div>
      <br>
      </div>
    </div>


    <div class="container rewards">
      <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h2>rewards pending approval</h2>
        {% if pendingRewards == [] %}
        <div class="table-responsive">
        no pending rewards
        </div>
        {% else %}
        <div class="table-responsive">
          <table>
            <tr>
              <th>reward name</th>
              <th>points</th>
              <th> </th>
              <th> </th>
            </tr>
            {% for reward in pendingRewards %}
            <tr>
              <td>{{reward.rewardName}}</td>
              <td>{{reward.points}}</td>
              <td><a href="admin/approveReward/{{reward.rewardID}}">approve</a></td>
              <td><a href = "admin/denyReward/{{reward.rewardID}}">deny</a></td>
            </tr>
            {% endfor %}
          </table>
          </div>
        {% endif %}
        </div>
        <br>
        <div class="col-lg-6 col-sm-12">
        <h2>all active rewards</h2>
        {% if allRewards == [] %}
        <div class="table-responsive">
        no rewards
        </div>
        {% else %}
        <div class="table-responsive">
          <table>
            <tr>
              <th>reward name</th>
              <th>points</th>
              <th> </th>
            </tr>
            {% for reward in allRewards %}
            <tr>
              <td>{{reward.rewardName}}</td>
              <td>{{reward.points}}</td>
              <td><a href="admin/deleteReward/{{reward.rewardID}}">delete</a></td>
            {% endfor %}
          </tr>
          </table>
          </div>
          {% endif %}
        <br>
        </div>
      </div>
    </div>

    <div class="container options">
      <div class="row options">
          <div class="col-lg-6 col-sm-6">
              <h4><a href="/logout">logout</a> | <a href="/changepassword">change password</a></h4>
              </div>
      </div>
  </div>
</div>
  </body>
</html>
