<html>
  <head>
    <title>chorepoint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" media="screen">
  </head>
  <body>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      </script>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> <a href="admin">home dashboard</a> |  <a href="self">my tasks and rewards</a> | <a href="about">about chorepoint</a> | <a href="logout">logout</a>
</div>
<div class="menubar">
    
  <img src="{{url_for('static', filename='hamburger.png')}}" style="vertical-align:middle" align="left" onclick="openNav()">
  <img src="{{url_for('static', filename='chorepointlogosmall.png')}}">
</div>
    <br>

  <br>
  <br>
  <br>
  <div class="container options">
    <div class="row options">
        <div class="col-lg-6 col-sm-6">
  <h1>hello, {{ username }}. you have {{ points }} points.</h1>
  </div>
    </div>
  </div>
  <br>

    <br>
    <div class="container subtitle">
      <div class="row">
          <div class="col-sm-12 col-lg-6">
            <h2>your tasks</h2>
          </div>
        </div>
        <br>
    </div>

    <div class="container tasks">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <h3>to do today:</h3>
                    {% if selfActiveTasks == [] %}
                    no tasks
                    {% else %}
                    <div class="table-responsive">
                        <table>
                          <thead>
                          <tr>
                            <th>task name</th>
                            <th>points</th>
                            <th> </th>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for task in selfActiveTasks %}
                          <tr>
                            <td>{{task.taskName}}</td>
                            <td>{{task.points}}</td>
                            <td><a href="self/submitTask/{{task.taskID}}">submit</a></td>
                            <td><a href="self/deletetask/{{task.taskID}}">delete</a></td>
                          </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                        </div>
                      {% endif %}
                      <br>
                  </div>
                      <br>
                      <br>
                  <div class="col-sm-12 col-lg-12">                      
                  <h3>upcoming:</h3>
                  {% if selfUpcomingTasks == [] %}
                  no tasks
                  {% else %}
                  <div class="table-responsive">
                      <table>
                          <thead>
                          <tr>
                            <th>task name</th>
                            <th>points</th>
                            <th>due date</th>
                            <th> </th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for task in selfUpcomingTasks %}
                          <tr>
                            <td>{{task.taskName}}</td>
                            <td>{{task.points}}</td>
                            {% if task.dueDate.strftime('%Y-%m-%d') == '3000-01-01' %}
                                <td>permanent</td>
                            {% else %}
                                <td>{{task.dueDate}}</td>
                            {% endif %}
                            <td><a href="self/deleteTask/{{task.taskID}}">delete</a></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      </div>
                    {% endif %}
                    <br>
                    </div>
            <br>
            <div class="col-sm-12 col-lg-12"> 
          <h3>complete:</h3>
          {% if selfCompletedTasks == [] %}
          no tasks
          {% else %}
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th>task name</th>
                  <th>points</th>
                  <th>completed date</th>
                </tr>
              </thead>
              <tbody>
                {% for task in selfCompletedTasks %}
                <tr>
                  <td>{{task.taskName}}</td>
                  <td>{{task.points}}</td>
                  <td>{{task.dateCompleted}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
          {% endif %}
          <br>
          </div>
          </div>
    </div>

    <br>
    <div class="container subtitle">
      <div class="row">
          <div class="col-sm-12 col-lg-6">
            <h2>your rewards</h2>
          </div>
      </div>    
      </div>

    <div class="container rewards">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <h3>available:</h3>
          {% if selfAvailableRewards == [] %}
            no rewards
          {% else %}
          <div class="table-responsive">
            <table>
              <thead>
              <tr>
                <th>reward name</th>
                <th>points</th>
                <th> </th>
                <th></th>
              </tr>
              </thead>
              <tbody>
                {% for reward in selfAvailableRewards %}
                <tr>
                  <td>{{reward.rewardName}}</td>
                  <td>{{reward.points}}</td>
                  <td><a href="self/redeem/{{reward.rewardID}}">redeem</a></td>
                  <td><a href="self/deletereward/{{reward.rewardID}}">delete</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
          <br>
        </div>
      
        <div class="col-sm-12 col-lg-6">
          <h3>redeemed:</h3>
          {% if selfRedeemedRewards == [] %}
            no rewards
          {% else %}
          <div class="table-responsive">
          <table>
            <tr>
              <th>reward name</th>
              <th>points</th>
            </tr>

            {% for reward in selfRedeemedRewards %}
            <tr>
              <td>{{reward.rewardName}}</td>
              <td>{{reward.points}}</td>
            </tr>
            {% endfor %}
          </table>
          </div>
          <br>
          </div>
        {% endif %}
        <br>
        </div>
        <br>
    </div>
    <br>

    <div class="container options">
    <div class="row">
          <div class="col-sm-12 col-lg-6">
            <h2><a href="admin/newtask">new task</a> | <a href="self/newreward">new reward</a></h2>
          </div>
      </div>

    </div>
  </body>
</html>
