<html>
  <head>
    <title>chorepoint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>chorepoint user dashboard</h1>
      <h2>hello, {{ username }}. You have {{ points }} points.</h2>
      <br>
      <h2>your tasks</h2>
      <div class="row">
        <div class="col-sm">
      <h3>to do today:</h3>
        {% if userActiveTasks == [] %}
        no tasks
        {% else %}
            <table>
              <tr>
                <th>task name</th>
                <th>points</th>
                <th> </th>
              </tr>
  
              {% for task in userActiveTasks %}
              <tr>
                <td>{{task.taskName}}</td>
                <td>{{task.points}}</td>
                <td><a href="user/submitTask/{{task.taskID}}">submit</a></td>
              </tr>
              {% endfor %}
            </table>
          {% endif %}
          <br>
      <h3>upcoming:</h3>
      {% if userUpcomingTasks == [] %}
      no tasks
      {% else %}
          <table>
            <tr>
              <th>task name</th>
              <th>points</th>
              <th>due date</th>
              <th> </th>
            </tr>

            {% for task in userUpcomingTasks %}
            <tr>
              <td>{{task.taskName}}</td>
              <td>{{task.points}}</td>
              <td>{{task.dueDate}}</td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}
      <br>
      </div>
      <div class="col-sm">
        <h3>pending:</h3>
        {% if userPendingTasks == [] %}
        no tasks
        {% else %}
            <table>
              <tr>
                <th>task name</th>
                <th>points</th>
              </tr>
  
              {% for task in userPendingTasks %}
              <tr>
                <td>{{task.taskName}}</td>
                <td>{{task.points}}</td>
              </tr>
              {% endfor %}
            </table>
          {% endif %}
        <br>
        </div>
        <div class="col-sm">
          <h3>complete:</h3>
          {% if userCompletedTasks == [] %}
          no tasks
          {% else %}
            <table>
              <tr>
                <th>task name</th>
                <th>points</th>
                 <th>completed date</th>
              </tr>
  
              {% for task in userCompletedTasks %}
              <tr>
                <td>{{task.taskName}}</td>
                <td>{{task.points}}</td>
                <td>{{task.dateCompleted}}</td>
              </tr>
              {% endfor %}
            </table>
          {% endif %}
          <br>
          </div>
    </div>
    <h2>your rewards</h2>
    <div class="row">
      <div class="col-sm">
        <h3>available:</h3>
        {% if userAvailableRewards == [] %}
          no rewards
          {% else %}
            <table>
              <tr>
                <th>reward name</th>
                <th>points</th>
                <th> </th>
              </tr>
  
              {% for reward in userAvailableRewards %}
              <tr>
                <td>{{reward.rewardName}}</td>
                <td>{{reward.points}}</td>
                <td><a href="/user/redeem/{{reward.rewardID}}">redeem</a></td>
              </tr>
              {% endfor %}
            </table>
          {% endif %}
      </div>
      <div class="col-sm">
        <h3>pending:</h3>
        {% if userPendingRewards == [] %}
        no rewards
        {% else %}
          <table>
            <tr>
              <th>reward name</th>
              <th>points</th>
            </tr>

            {% for reward in userPendingRewards %}
            <tr>
              <td>{{reward.rewardName}}</td>
              <td>{{reward.points}}</td>
            </tr>
            {% endfor %}
          </table>
          {% endif %}
      </div>

      <div class="col-sm">
        <h3>redeemed:</h3>
        {% if userRedeemedRewards == [] %}
        no rewards
        {% else %}
          <table>
            <tr>
              <th>reward name</th>
              <th>points</th>
            </tr>

            {% for reward in userRedeemedRewards %}
            <tr>
              <td>{{reward.rewardName}}</td>
              <td>{{reward.points}}</td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}
      </div>
    </div>
    </div>
  </body>
</html>
